In [1]:
import pandas as pd

In [2]:
url = "https://dlai-lc-dag.s3.us-east-2.amazonaws.com/countries_and_pet_population.html"

In [3]:
tables = pd.read_html(url)

In [4]:
type(tables)

list

In [5]:
len(tables)

1

In [6]:
type(tables[0])

pandas.core.frame.DataFrame

In [7]:
tables[0].head()

,Country,Population 2022,Population 2023,Change %,Region,Official Language,Dog Population,Cat Population,Bird Population,Aquaria Population,Small Mammal Population,Terraria Population
0,World,8021407192,8091734930,+0.88%,WRLD - World,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,India,1425423212,1438069596,+0.89%,ASIA - South,"Hindi, English",10200000.0,NaN,NaN,NaN,NaN,NaN
2,China [a],1425179569,1422584933,-0.18%,ASIA - East,Standard Chinese,27400000.0,53100000.0,NaN,NaN,NaN,NaN
3,United States,341534046,343477335,+0.57%,AMER - North,English,69929000.0,74059000.0,8300000.0,NaN,NaN,NaN
4,Indonesia,278830529,281190067,+0.85%,ASIA - Southeast,Indonesian,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df = tables[0]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  238 non-null    object
 1   Population 2022          238 non-null    int64
 2   Population 2023          238 non-null    int64
 3   Change %                 238 non-null    object
 4   Region                   238 non-null    object
 5   Official Language        191 non-null    object
 6   Dog Population           38 non-null     float64
 7   Cat Population           35 non-null     float64
 8   Bird Population          32 non-null     float64
 9   Aquaria Population       29 non-null     float64
 10  Small Mammal Population  29 non-null     float64
 11  Terraria Population      27 non-null     float64
dtypes: float64(6), int64(2), object(4)
memory usage: 22.4+ KB

In [10]:
38/238

0.15966386554621848

In [11]:
#average growth rate
df["Change %"].mean()

TypeError: Could not convert string '+0.88%+0.89%-0.18%+0.57%+0.85%+1.56%+2.12%+0.40%+1.23%-0.10%+0.88%+2.64%-0.50%+0.81%+1.70%+3.31%+0.67%+1.21%+0.24%+0.55%-0.05%+0.74%+2.95%+0.24%+1.34%-0.20%+2.00%+0.70%+1.13%-0.07%+1.34%+2.84%+0.17%+1.51%+0.29%+2.28%+2.16%+3.06%+1.23%+0.98%-8.08%+1.03%+3.13%+2.04%+1.24%+1.11%+1.93%+3.00%+0.28%+2.49%+2.54%+0.84%+2.68%+0.31%+0.95%+0.34%+3.35%+3.02%+5.04%-0.44%+2.30%+0.60%+2.60%+2.83%+1.47%+0.54%+4.68%-0.25%+3.13%+1.55%+2.42%+1.05%+0.88%+1.29%+1.69%+2.49%+2.55%+2.22%+2.77%+1.38%+0.67%+0.61%+1.16%+4.19%+1.63%+0.90%-0.36%+1.28%+1.73%+3.91%+0.61%+0.13%+2.04%+1.83%+0.22%-1.63%-2.79%+2.36%+1.68%+0.73%-0.63%+0.89%+2.22%+1.40%-0.31%+1.86%+1.13%+1.69%+1.24%+1.38%-0.44%-0.27%+0.47%+2.45%+0.77%+2.46%-0.19%+0.57%+1.12%+0.82%+2.23%+1.96%+1.69%+0.80%+1.07%+0.47%+6.74%+3.01%+5.43%+1.32%-0.28%+0.33%+1.79%+1.36%-0.08%+0.03%-0.62%+0.89%+2.99%+2.54%+2.17%+1.32%+0.02%-0.56%+2.33%+2.22%+1.65%+1.11%+2.27%+0.15%+0.07%+2.44%-0.46%-1.04%+2.36%+0.47%+1.09%+1.27%+1.02%-0.20%+0.95%+1.39%+0.51%+0.38%+1.94%+0.57%+2.42%+0.70%+1.36%+1.80%+3.08%+0.92%+1.93%+0.90%+0.36%+0.50%+0.79%+2.08%+0.48%+1.89%-2.13%-0.99%+2.35%+3.52%+1.71%+0.96%-2.07%+0.26%+2.02%+0.65%+0.04%+0.28%+0.80%+1.58%+1.94%+0.14%+0.46%-0.42%+0.15%+0.18%-0.71%+0.51%-0.93%+0.04%+1.44%+2.02%-0.47%-0.08%+0.46%+1.69%+1.30%-1.70%+0.10%+0.77%-2.03%+1.45%+0.71%+1.74%+0.06%+2.29%-3.12%-1.05%+4.44%-4.69%-0.18%+1.62%-3.40%+0.63%-0.94%+1.51%-1.76%-0.89%-1.01%-0.74%-0.37%+4.67%-0.22%-1.78%' to numeric

## Replace

In [12]:
#using replace() method
countries = "India, China, United States, Indonesia"
countries.replace("United States", "USA")

'India, China, USA, Indonesia'

In [13]:
"+0.88%".replace("%","")

'+0.88'

In [14]:
df["Change %"] = df["Change %"].replace("%","")

In [15]:
df['Change %'].head()

0    +0.88%
1    +0.89%
2    -0.18%
3    +0.57%
4    +0.85%
Name: Change %, dtype: object

In [16]:
df["Change %"] = df["Change %"].str.replace("%","")
df['Change %'].head()

0    +0.88
1    +0.89
2    -0.18
3    +0.57
4    +0.85
Name: Change %, dtype: object

## Casting

casting a column in a pandas dataframe to another type using this method appropriately handles the missing values.

In [17]:
df['Change %'] = df['Change %'].astype("float64") # float64 will handle mising values

In [18]:
df['Change %'].head()

0    0.88
1    0.89
2   -0.18
3    0.57
4    0.85
Name: Change %, dtype: float64

In [19]:
df['Change %'].mean()

np.float64(1.0084873949579831)

In [20]:
df.dtypes

Country                     object
Population 2022              int64
Population 2023              int64
Change %                   float64
Region                      object
Official Language           object
Dog Population             float64
Cat Population             float64
Bird Population            float64
Aquaria Population         float64
Small Mammal Population    float64
Terraria Population        float64
dtype: object

### Handling missing data

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  238 non-null    object
 1   Population 2022          238 non-null    int64
 2   Population 2023          238 non-null    int64
 3   Change %                 238 non-null    float64
 4   Region                   238 non-null    object
 5   Official Language        191 non-null    object
 6   Dog Population           38 non-null     float64
 7   Cat Population           35 non-null     float64
 8   Bird Population          32 non-null     float64
 9   Aquaria Population       29 non-null     float64
 10  Small Mammal Population  29 non-null     float64
 11  Terraria Population      27 non-null     float64
dtypes: float64(7), int64(2), object(3)
memory usage: 22.4+ KB

In [22]:
df_with_dogs = df.dropna(subset = ["Dog Population"])

In [23]:
df_with_dogs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38 entries, 1 to 157
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  38 non-null     object
 1   Population 2022          38 non-null     int64
 2   Population 2023          38 non-null     int64
 3   Change %                 38 non-null     float64
 4   Region                   38 non-null     object
 5   Official Language        38 non-null     object
 6   Dog Population           38 non-null     float64
 7   Cat Population           35 non-null     float64
 8   Bird Population          31 non-null     float64
 9   Aquaria Population       29 non-null     float64
 10  Small Mammal Population  29 non-null     float64
 11  Terraria Population      27 non-null     float64
dtypes: float64(7), int64(2), object(3)
memory usage: 3.9+ KB

In [24]:
#fill in missing values with reasonable guess - mean dogs per capita
df["dogs_per_capita"] = df["Dog Population"]/df["Population 2023"]

In [25]:
df["dogs_per_capita"].describe()

count    38.000000
mean      0.137065
std       0.069887
min       0.007093
25%       0.099721
50%       0.128252
75%       0.183206
max       0.297817
Name: dogs_per_capita, dtype: float64

In [26]:
df["Dog Population"] = df["Dog Population"].fillna(df["Population 2023"] * 0.137065)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  238 non-null    object
 1   Population 2022          238 non-null    int64
 2   Population 2023          238 non-null    int64
 3   Change %                 238 non-null    float64
 4   Region                   238 non-null    object
 5   Official Language        191 non-null    object
 6   Dog Population           238 non-null    float64
 7   Cat Population           35 non-null     float64
 8   Bird Population          32 non-null     float64
 9   Aquaria Population       29 non-null     float64
 10  Small Mammal Population  29 non-null     float64
 11  Terraria Population      27 non-null     float64
 12  dogs_per_capita          38 non-null     float64
dtypes: float64(8), int64(2), object(3)
memory usage: 24.3+ KB

In [28]:
df["Dog Population"].describe()

count    2.380000e+02
mean     7.825225e+06
std      7.203852e+07
min      6.798424e+01
25%      5.514899e+04
50%      7.384561e+05
75%      3.185980e+06
max      1.109094e+09
Name: Dog Population, dtype: float64

### String Method: contains()

In [29]:
# create the column english which contains true if for one of the countries it is found as officlal language
df["English"] = df["Official Language"] == "English"

In [30]:
df["English"].head()

0    False
1    False
2    False
3     True
4    False
Name: English, dtype: bool

In [31]:
#we need find a way not just equal but somewhere in the string
df["English"] = df["Official Language"].str.contains("English")

In [32]:
df["English"].head()

0      NaN
1     True
2    False
3     True
4    False
Name: English, dtype: object

In [33]:
english_df = df[df["English"] == True]

In [34]:
len(english_df)

56

In [35]:
#summing the population of all these countries
english_df["Population 2023"].sum()

np.int64(3010448677)

there are 3 million people living in english speaking countries.

In [36]:
#case sensitive
df["English"] = df["Official Language"].str.contains("English", case = False)

In [37]:
df["English"].sum()

56

In [38]:
df["German"] = df["Official Language"].str.contains("German", case = False)

In [39]:
df["German"].sum()

6

### String method: split and strip

In [40]:
df.head()

,Country,Population 2022,Population 2023,Change %,Region,Official Language,Dog Population,Cat Population,Bird Population,Aquaria Population,Small Mammal Population,Terraria Population,dogs_per_capita,English,German
0,World,8021407192,8091734930,0.88,WRLD - World,NaN,1.109094e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,India,1425423212,1438069596,0.89,ASIA - South,"Hindi, English",1.020000e+07,NaN,NaN,NaN,NaN,NaN,0.007093,True,False
2,China [a],1425179569,1422584933,-0.18,ASIA - East,Standard Chinese,2.740000e+07,53100000.0,NaN,NaN,NaN,NaN,0.019261,False,False
3,United States,341534046,343477335,0.57,AMER - North,English,6.992900e+07,74059000.0,8300000.0,NaN,NaN,NaN,0.203591,True,False
4,Indonesia,278830529,281190067,0.85,ASIA - Southeast,Indonesian,3.854132e+07,NaN,NaN,NaN,NaN,NaN,NaN,False,False

In [41]:
text = "China [a]"
substrings = text.split("[")
substrings

['China ', 'a]']

In [42]:
len(substrings)

2

In [43]:
substrings[0]

'China '

In [44]:
df["Country"]

0                                  World
1                                  India
2                              China [a]
3                          United States
4                              Indonesia
                     ...
233          Montserrat (United Kingdom)
234    Falkland Islands (United Kingdom)
235                Tokelau (New Zealand)
236                   Niue (New Zealand)
237                     Vatican City [x]
Name: Country, Length: 238, dtype: object

In [45]:
df["Country"].str.split("[")

0                                  [World]
1                                  [India]
2                             [China , a]]
3                          [United States]
4                              [Indonesia]
                      ...
233          [Montserrat (United Kingdom)]
234    [Falkland Islands (United Kingdom)]
235                [Tokelau (New Zealand)]
236                   [Niue (New Zealand)]
237                    [Vatican City , x]]
Name: Country, Length: 238, dtype: object

In [46]:
df['Country'] = df['Country'].str.split("[").str[0]

In [47]:
df['Country'].str.contains("]").sum()

np.int64(0)

In [48]:
df["Country"].head()

0            World
1            India
2           China
3    United States
4        Indonesia
Name: Country, dtype: object

In [49]:
df['Country'] = df['Country'].str.strip()

In [50]:
df['Country'].head()

0            World
1            India
2            China
3    United States
4        Indonesia
Name: Country, dtype: object

Now let's see which country love more cats than dogs

In [51]:
# Find the number of dogs per capita (as seen in demos)
df["dogs_per_capita"] = df["Dog Population"] / df["Population 2023"]

# Find the mean number of dogs per capita
mean_dogs_per_capita = df["dogs_per_capita"].mean()

df["Dog Population"] = df["Dog Population"].fillna(df["Population 2023"] * mean_dogs_per_capita)

### START CODE HERE ###

# Find the number of cats per capita (as seen in demos)
df["cats_per_capita"] = df['Cat Population'] /df['Population 2023']

# Find the mean number of dogs per capita
mean_cats_per_capita = df["cats_per_capita"].mean()

df["Cat Population"] = df["Cat Population"].fillna(df["Population 2023"]* mean_cats_per_capita)

# Create a new column 'Cats > Dogs' that contains True if the number of cats is greater than the number of dogs and False otherwise
df["Cats > Dogs"] = df["Cat Population"] > df["Dog Population"]

### END CODE HERE ###

# Display the first few rows of the new dataframe
df.head()

,Country,Population 2022,Population 2023,Change %,Region,Official Language,Dog Population,Cat Population,Bird Population,Aquaria Population,Small Mammal Population,Terraria Population,dogs_per_capita,English,German,cats_per_capita,Cats > Dogs
0,World,8021407192,8091734930,0.88,WRLD - World,NaN,1.109094e+09,1.240733e+09,NaN,NaN,NaN,NaN,0.137065,NaN,NaN,NaN,True
1,India,1425423212,1438069596,0.89,ASIA - South,"Hindi, English",1.020000e+07,2.205041e+08,NaN,NaN,NaN,NaN,0.007093,True,False,NaN,True
2,China,1425179569,1422584933,-0.18,ASIA - East,Standard Chinese,2.740000e+07,5.310000e+07,NaN,NaN,NaN,NaN,0.019261,False,False,0.037326,True
3,United States,341534046,343477335,0.57,AMER - North,English,6.992900e+07,7.405900e+07,8300000.0,NaN,NaN,NaN,0.203591,True,False,0.215615,True
4,Indonesia,278830529,281190067,0.85,ASIA - Southeast,Indonesian,3.854132e+07,4.311583e+07,NaN,NaN,NaN,NaN,0.137065,False,False,NaN,True

In [52]:
### START CODE HERE ###

# Clean the 'Region' column to remove citations
df["Region"] = df['Region'].str.split("-").str[0]

# Remove leading and trailing whitespaces from the 'Region' column
df["Region"] = df['Region'].str.strip()

### END CODE HERE ###

# Find the number of cats and dogs per continent
df.groupby("Region")[["Dog Population", "Cat Population"]].sum()

        Dog Population  Cat Population
Region
AFRC      1.890585e+08    2.193590e+08
AMER      1.686021e+08    1.771517e+08
ASIA      2.805488e+08    5.470651e+08
EURP      1.087809e+08    1.294804e+08
OCNA      6.319540e+06    5.130456e+06
WRLD      1.109094e+09    1.240733e+09

In [53]:
import plotly.express as px

# Clean the 'Country' column to remove citations
df["Country"] = df["Country"].str.split("[").str[0]

# Remove leading and trailing whitespaces from the 'Country' column
df["Country"] = df["Country"].str.strip()

### START CODE HERE ###
# Use this block to create the plot
color_map = {True:'Green',False:'Red'}
fig = px.choropleth(df,
                   locations = "Country",
                   locationmode = "country names",
                   color = "Cats > Dogs",
                   color_discrete_map = color_map,
                   title = "Countries with more Cats than Dogs")
fig.show()
### END CODE HERE ###

C:\Users\megha\AppData\Local\Temp\ipykernel_15980\2187970589.py:12: DeprecationWarning: The library used by the *country names* `locationmode` option is changing in an upcoming version. Country names in existing plots may not work in the new version. To ensure consistent behavior, consider setting `locationmode` to *ISO-3*.
  fig = px.choropleth(df,